@model Greenit.Models.StatsViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Edit)).Succeeded;
}
@{
    var canDelete = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Delete)).Succeeded;
}
@{
    var canAdd = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Add)).Succeeded;
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Total # of channels
            </th>
            <th>
               Total # of blog posts
            </th>
            <th>
               Total # of comments
            </th>
            <th>
                Most Recent Post
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.channelsSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.blogPostslSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.commentsSize)
            </td>
            <td>
                @{
                    if (Model.mostRecentComment.Length != 0) {
                        Html.DisplayFor(modelItem => Model.mostRecentComment[0].Body);
                    }
                    else
                    {
                        <p>0</p>
                    }

                }
            </td>
        </tr>
        
        @*}*@
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                # of Comments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.indvComments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => comment.userid)
                </td>
                <td>
                    @Html.DisplayFor(item => comment.count)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                # of Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.indvPosts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => comment.userid)
                </td>
                <td>
                    @Html.DisplayFor(item => comment.count)
                </td>
            </tr>
        }
    </tbody>
</table>
