@model IEnumerable<Greenit.Models.Channel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    ViewData["Title"] = "Index";
}
@{
    var canAdd = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Add)).Succeeded;
}
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Edit)).Succeeded;
}

<h1>Channels</h1>

<p>
    @if(canAdd){ 
        <br />
    <button class="btn btn-success"><a asp-action="Create">Create New</a></button>
    }
    <br /><br />
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="letteredChannel" asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/blog-icon.png" height="30px" width="37px" />
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
</td>
                <td>
                    @if (canEdit) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
